body{
    background-attachment: fixed;
    background-color: #000000;
    background-image: url(/media/uploads/woolen_fabric_9271298.JPG);
    background-position: center top;
    color: #FFFFFF;
    margin: 0;
    padding: 0;





}